<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link media="all" href="{{asset('bundles/coMain/css/KickStart/style.css')}}" type="text/css" rel="stylesheet">
            <link media="all" href="{{asset('bundles/coMain/css/KickStart/css/kickstart.css')}}" type="text/css" rel="stylesheet">
        {% endblock %}
        {% block header_javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
            <script src="{{asset('bundles/coMain/js/prettify.js')}}" type="text/javascript"></script>
            <script src="{{asset('bundles/coMain/js/kickstart.js')}}" type="text/javascript"></script>
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>            
        {% for key, message in app.session.getFlashes() %}
            <div class="{{ key }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
            
        {% block body %}{% endblock %}
            
        {% block javascripts %}{% endblock %}
    </body>
</html>
